<header class="header" id="hero-header">
  <button type="button" class="header__burger-button" data-menu-modal-open>
    <svg class="burger-button__icon" width="20" height="12">
      <use href="./icons/sprite.svg#icon-burger"></use>
    </svg>
  </button>
  <div class="header__container container">
    <a class="header__logo" href="#">
      <img src="./images/logo/header-logo.png" alt="logo" />
    </a>
    <nav class="header__navigation">
      <ul class="header__list">
        <li class="header__link">
          <a class="header__link--item" href="#">О предложении</a>
        </li>
        <li class="header__link">
          <a class="header__link--item" href="#">Преимущества работы</a>
        </li>
        <li class="header__link">
          <a class="header__link--item" href="#">О компании</a>
        </li>
        <li class="header__link">
          <a class="header__link--item" href="#">Кейсы</a>
        </li>
        <li class="contact__link">
          <a href="tel:+380 (67) 111 11 11" class="contact__link--phone">+380 (67) 111 11 11</a>
          <p><a href="mailto:email@site.com" class="contact__link--email">email@site.com</a></p>
        </li>
        <li class="social__link">
          <a class="social__link--item" href="https://www.viber.com/ru/" target="_blank">
            <img src="./images/social/viber.png" alt="viber" class="social__link--item" />
          </a>
        </li>
        <li class="social__link">
          <a class="social__link--item" href="https://www.whatsapp.com/?lang=ru" target="_blank">
            <img src="./images/social/whatsapp.png" alt="whatsapp" class="social__link--item" />
          </a>
        </li>
        <li class="social__link">
          <a class="social__link--item" href="https://web.telegram.org/k/" target="_blank">
            <img src="./images/social/telegram.png" alt="telegram" class="social__link--item" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<section class="hero container">
  <h1 class="hero__title">
    Комплексное сопровождение процесса покупки недвижимости за границей для Ваших клиентов
  </h1>
  <img class="hero__rectangle" src="./images/hero/rectangle.png" alt="rectangle" />
  <div class="line"></div>
</section>
<section class="about">
  <div class="about__bg">
    <img class="about__keys" src="./images/hero/keys.png" alt="keys" />
    <img class="about__dots" src="./images/hero/dots.png" alt="dots" />
  </div>
  <button class="about__btn" type="button">О предложении</button>
</section>
