<div class="backdrop backdrop--is-hidden" data-menu-backdrop>
  <div class="mobile-menu">
    <button type="button" class="close-button" data-menu-modal-close>
      <svg class="icon-close">
        <use href="./icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div>
      <nav class="mobile-menu__navigation">
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#" data-menu-modal-close>О предложении</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#" data-menu-modal-close>Преимущества работы</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#" data-menu-modal-close>О компании</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#" data-menu-modal-close>Кейсы</a>
          </li>
        </ul>
        <li class="mobile-menu__contact contact__link">
          <a href="tel:+380 (67) 111 11 11" class="contact__link--phone">+380 (67) 111 11 11</a>
        </li>
        <ul class="mobile-menu__social">
          <li class="social__link">
            <a class="social__link--item" href="https://www.viber.com/ru/" target="_blank">
              <img src="./images/social/mobile-viber.png" alt="viber" class="social__link--item" />
            </a>
          </li>
          <li class="social__link">
            <a class="social__link--item" href="https://www.whatsapp.com/?lang=ru" target="_blank">
              <img
                src="./images/social/mobile-whatsapp.png"
                alt="whatsapp"
                class="social__link--item"
              />
            </a>
          </li>
          <li class="social__link">
            <a class="social__link--item" href="https://web.telegram.org/k/" target="_blank">
              <img
                src="./images/social/mobile-telegram.png"
                alt="telegram"
                class="social__link--item"
              />
            </a>
          </li>
        </ul>
        <li class="mobile-menu__contact contact__link">
          <a href="mailto:email@site.com" class="contact__link--email">email@site.com</a>
        </li>
      </nav>
    </div>
  </div>
</div>
